 <div class="media">
   <div class="font">

    <div>
      <a class="pull-left" href="#">   
        <img style= "margin-right: 40px; margin-left:30px" class="img-rounded" src={{"http://image.tmdb.org/t/p/w185/"+$ctrl.movie.poster_path}} width="300" height="500" />
      </a>

      <br>
      <br>
       
      <button class="btn btn-warning btn-md" ng-click='$ctrl.favorite($ctrl.movie.id,$ctrl.movie.title,$ctrl.movie.genres[0].name,$ctrl.movie.release_date,$ctrl.movie.popularity,$ctrl.movie.overview,$ctrl.movie.vote_count,$ctrl.movie.vote_average,$ctrl.movie.poster_path)'> <span class="glyphicon glyphicon-star"></span> Favorite </button>

      <h2> <span></span> <span style="color: #EA7117; font-weight: bold;">{{$ctrl.movie.title}}</span></h2>
    </div>

    <br>
    <div>
      <span style="color:#EA7117"> Gener: </span><span style="color: black">{{$ctrl.movie.genres[0].name}}</span>
    </div>  
    <br>
    <div>
      <span style="color:#EA7117"> Release Date: </span> <span style="color: black">{{$ctrl.movie.release_date}} </span>
    </div>

    <br>
    <div>
      <span style="color:#EA7117"> Popularity: </span> <span style="color: black">{{$ctrl.movie.popularity}} </span>
    </div>

  <!-- <div> <span style="color:#EA7117"> Overview: </span><span style="color:black">{{$ctrl.movie.overview}}</span>
  </div>   -->
  
  <br>
  <div>
    <span style="color:#EA7117"> Vote-Count: </span> <span style="color:black">{{$ctrl.movie.vote_count}}</span>
  </div>   

  <br>
  <div> <span style="color:#EA7117"> Vote-Avg: </span><span style="color:black"> {{$ctrl.movie.vote_average}} </span>
  </div>
  <br>
  <br>
</div>
</div>

<style>
.font{
  font-style: italic;
  font-family: courier;
  font-weight: bold;
  font-size: 18px;
};

</style>


