<div>
  <div style="color: red">title: {{$ctrl.movie.title}}</div>
  <div>{{$ctrl.movie.genres[0].name}}</div>
  <div>{{$ctrl.movie.release_date}}</div>
  <div>{{$ctrl.movie.popularity}}</div>
  <div>
  	<img src={{"http://image.tmdb.org/t/p/w185/"+$ctrl.movie.poster_path}} />
  </div>
  <div>{{$ctrl.movie.overview}}</div>	
  <div>{{$ctrl.movie.vote_count}}</div>		
  <div>{{$ctrl.movie.vote_average}}</div>
 </div>
 <div>
  <button ng-click='$ctrl.favorite($ctrl.movie.id,$ctrl.movie.title,$ctrl.movie.genres[0].name,$ctrl.movie.release_date,$ctrl.movie.popularity,$ctrl.movie.overview,$ctrl.movie.vote_count,$ctrl.movie.vote_average,ctrl.movie.poster_path)'>Add to favorite</button>
</div> 