	<div class="container" style="text-align: center;">
	<form  class="navbar-form navbar-center">
		<div class="input-group">
			<input id="input" type="text" class="form-control" placeholder="Please Enter The Name of Movie">
			<div class="input-group-btn">
				<button class="btn btn-default" type="button" ng-click='$ctrl.change()' >
					<i class="glyphicon glyphicon-search"></i>
				</button>
			</div>
		</div>
	</form>
</div> 

<style>
	.input-group{
	width: 60%;
    border-radius: 6px;
    font-size: 16px;
    background-color: #BDBDBD;

    padding: 12px 20px 12px 40px;
	}
</style>